.header{
    height: 40px;
    background-color: #c51d34;
    margin: 5px;
    overflow: hidden;
    display: block;
}
.header_menu{
    height: 20px;
    width: 300px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    margin-right: 10px;
    margin-left: auto;
      
}
.header_choose{
    height:20px;
    margin:0 0;
    padding: 0;
}
.header_menu li{
    display: inline-block;
    margin:auto 10px;
    display: inline;
    font-size: 18px;
    
}
.header_menu a{
    text-decoration: none;
    color:white;
}
.footer{
    background-color: #c51d34;
    color:white;
    text-align: center;
    height: 30px;
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 0px;
}
.footer p{
    height: 20px;
    margin: 5px 0;
    font-size: 17px;
}
.main-image{
    border:solid black 2px;
    border-radius: 50px;
    height: 200px
    
}
.image{
    border:solid black 1px;
}
.Advertisment_image{
    border-radius: 20px;
    border: solid black 2px;
    height:100%;
    width:32%;
    background-size: 100% 100%;
    display: inline-block;
}

.Advertisment_image a{
    height:100%;
    display: block;
    border-radius: 20px;
}
.Advertisment_image:hover{
    border-radius: 20px;
    border: solid black 2px;
    height:100%;
    width:32%;
    display: inline-block;
    background-color: #c51d34;
    background-image: none;
}
.Main_page_banners{
    height: 200px;
    width:900px;
}

.feedback_form{
    position: relative;
}
.body{
    margin-bottom: 0 !important;
}
.logo{
    height: 36px;
    display: inline-block;
    border-radius:100%;
    border: solid black 2px;
    overflow: hidden;
}
.logo_image{
    height:40px;
}
.header_menu_container{
    height:20px;
    display: inline-block;
    border: solid black 2px;
    margin-top: 0px;
}
.container{
    width:100%;
    margin: 0 auto;
}
