.header{
    text-align: left;
    height: 40px;
    background-color: #c51d34;
    margin: 5px;
    overflow: hidden;
}
.header_menu{
    height: 20px;
    margin: 10px 0;
    font-size: 18px;
    list-style-type: none;
    text-align: left;
    vertical-align: middle;
    
}
.header_menu li{
    display: inline;
    vertical-align: middle;
    margin: 0 10px;
    
}
.header_menu a{
    text-decoration: none;
    color:white;
}
.footer{
    background-color: #c51d34;
    color:white;
    text-align: center;
    height: 30px;  
}
.footer p{
    height: 20px;
    padding: 5px 0;
    font-size: 17px;
}
.main-image{
    border:solid black 2px;
    border-radius: 50px;
    height: 200px
    
}
.image{
    border:solid black 1px;
}
.Main_page_kartinka{
    border-radius: 20px;
    border: solid black 2px;
    background-image: url(https://cdn.discordapp.com/attachments/582888069439684628/884091914335440997/5904015s-1920.png);
    height:200px;
    width:300px;
    background-size: 100% 100%;
}
.Main_page_kartinka a{
    height:100%;
    display: block;
    border-radius: 20px;
}